.container{
    background-color: #4c6834;
    padding: 20px;
}

.container ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
li{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
    align-items: center;
}