.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #64944c;
    padding: 11px;
    color: white;
    height: 100px;
}

.logo img {
    height: 65px; 
    width: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
