.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(5, 5, 5);
}
figure{
    display: flex;
    flex-wrap: wrap;
}